@model Potratim.Models.User
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    var isAdmin = User.IsInRole("Admin");
}

<h2 style="color: white;">Профиль пользователя</h2>

<div class="user-profile">
    <h4>Информация</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-3">
            Имя пользователя
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        @if (!string.IsNullOrEmpty(Model.Nickname))
        {
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Nickname)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Nickname)
            </dd>
        }
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Balance)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Balance) ₽
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
    </dl>
</div>

@if (isAdmin)
{
    <div>
        <a class="btn btn-danger" asp-controller="Admin" asp-action="Panel" style="margin-top: 20px;">
            Панель администратора
        </a>
    </div>
}