@model Potratim.ViewModel.CatalogIndexViewModel

<section class="catalog-head-section">
    <h2 class="section-title text-white text-center mb-4">Каталог игр</h2>
    <div class="catalog-head-content">
        <form asp-controller="Catalog" asp-action="Search">
            <div class="catalog-head-search input-group mb-3">
                <input type="text" class="form-control" placeholder="Поиск по названию, описанию" name="searchString" />
                <button class="btn btn-outline-secondary" type="submit">Поиск</button>
            </div>
        </form>
        <div class="catalog-head-content-under">
            <div class="sorting-pagination">
                <div class="sorting">
                    <select class="form-select" aria-label="Сортировка">
                        <option value="new" selected>Сначала новинки</option>
                        <option value="price_desc">По возрастанию цены</option>
                        <option value="price_asc">По убыванию цены</option>
                        <option value="rating">По рейтингу</option>
                    </select>
                </div>
            </div>

            <p class="section-found-games-count text-white">Найдено игр: <span
                    class="found-games-count">@Model.Games.TotalItemCount</span></p>
            <h2 class="text-white">Тут будет пагинация</h2>
        </div>
    </div>
</section>

<section class="catalog-body-section">
    <div class="catalog-body-content">
        <section class="game-filter">
            <div class="game-filter-content">
                <div class="game-filter-categories">
                    <h3 class="text-white game-filter-title">Категории</h3>
                    <div class="game-filter-categories-list">
                        @if (Model.Categories != null && Model.Categories.Any())
                        {
                            @foreach (var category in Model.Categories)
                            {

                                <div class="game-filter-category-item">
                                    <input type="checkbox" id="@category.Id" name="categories" value="@category.Id" />
                                    <label for="@category.Id">@category.Name</label>
                                </div>

                            }
                        }
                    </div>
                </div>
                <hr class="text-white" />
                <div class="game-filter-price">
                    <h3 class="text-white game-filter-title">Цена</h3>
                    <div class="game-filter-price-range">
                        <div class="price-input-group-container">

                            <div class="price-input-group">
                                <label for="min-price" class="text-white">От</label>
                                <input type="number" id="min-price" name="minPrice" value="0" min="0" max="15000"
                                    class="price-input">
                                <span class="currency"></span>
                            </div>

                            <div class="price-input-group">
                                <label for="max-price" class="text-white">До</label>
                                <input type="number" id="max-price" name="maxPrice" value="15000" min="0" max="15000"
                                    class="price-input">
                                <span class="currency"></span>
                            </div>

                        </div>
                        <div class="slider-container">
                            <div class="slider-track"></div>
                            <div class="slider-range"></div>
                            <input id="min-range" type="range" min="0" max="15000" value="0" step="1"
                                class="price-slider" />
                            <input id="max-range" type="range" min="0" max="15000" value="15000" step="1"
                                class="price-slider" />
                        </div>

                    </div>
                </div>
            </div>

        </section>
        <section class="game-list">
            <div class="game-list-content">
                <div class="game-list-items">
                    @if (Model.Games != null && Model.Games.Any())
                    {
                        foreach (var game in Model.Games)
                        {
                            <a class="text-decoration-none" asp-controller="Game" asp-action="Index"
                                asp-route-gametitle="@game.Title">
                                <div class="game-list-item">
                                    <img src="@game.ImageUrl" alt="@game.Title" class="game-catalog-image" />
                                    <div class="game-list-item-content">
                                        <h4 class="text-white">@game.Title</h4>
                                        <div class="game-list-item-categories">
                                            @for (int i = 0; i < game.Categories.Count && i < 4; i++)
                                            {
                                                <span class="game-list-item-category">@game.Categories[i].Name</span>
                                            }
                                        </div>
                                        <h1 class="game-list-item-price">@game.Price.ToString("C")</h1>
                                    </div>
                                </div>
                            </a>
                        }
                    }
                </div>
            </div>
        </section>
    </div>
</section>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const minPriceInput = document.getElementById("min-price");
            const maxPriceInput = document.getElementById("max-price");
            const minRange = document.getElementById("min-range");
            const maxRange = document.getElementById("max-range");
            const sliderTrack = document.querySelector(".slider-track");
            const sliderRange = document.querySelector(".slider-range");


            function updateFromSlider(e) {
                let minValue = parseInt(minPriceInput.value);
                let maxValue = parseInt(maxPriceInput.value);

                if (maxValue < minValue + 500) {
                    if (e.target === minRange) {
                        minRange.value = maxValue - 500;
                    }
                    else {
                        maxRange.value = minValue + 500;
                    }
                }

                minPriceInput.value = minRange.value;
                maxPriceInput.value = maxRange.value;
                updateSliderTrack();
            }

            function updateFromInput() {
                let minValue = parseInt(minPriceInput.value);
                let maxValue = parseInt(maxPriceInput.value);

                if (maxValue < minRange + 500) {
                    maxValue = minValue + 500;
                    maxPriceInput.value = maxValue;
                }

                minRange.value = minValue;
                maxRange.value = maxValue;
                updateSliderTrack();
            }

            function updateSliderTrack() {
                const percent1 = (minRange.value / 15000) * 100;
                const percent2 = (maxRange.value / 15000) * 100;

                sliderRange.style.left = percent1 + "%";
                sliderRange.style.width = (percent2 - percent1) + "%";
            }

            minRange.addEventListener("input", updateFromSlider);
            maxRange.addEventListener("input", updateFromSlider);
            minPriceInput.addEventListener("input", updateFromInput);
            maxPriceInput.addEventListener("input", updateFromInput);
            updateSliderTrack();
        });
    </script>
}